= simple_form_for @user, html: { :class => 'form-horizontal' }, wrapper: :bootstrap do |f|
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  .form-actions
    = f.button :submit, :class => 'btn-success'