!!!
%html
  %head
    %title Gollowfen
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = include_gon(:init => true)
    = csrf_meta_tags

  %body
    = render 'shared/header'

    .main
      .container
        .alerts
          - flash.each do |x,y|
            %div{class: "alert alert-#{x == :notice ? 'success' : 'error'}"}
              %a.close{"data-dismiss" => "alert"} &#215;
              = y

      .container= yield
